*{
	margin:0;
	padding:0;
}
.topo{
	position:relative;
	width:100%;
	height:100px;
	background-color:#00006C;
	color:#AAAAAA;
	font-family:georgia, arial, helvetica;
	font-size:75px;
	text-align:center;
	border-bottom:2px solid #000000;
	text-shadow:2px 2px 2px #000000;
}
.paragrafo1{
	color:#00006C;
	font-family: georgia, "comic sans ms", arial;
	font-size:40px;
	text-shadow:2px 2px 2px #AAAAAA;
	margin-left:150px;
	font-weight:bold;
}
.paragrafo2{
	border:2px 2px 2 px 2px #000000;
	font-family:georgia;
	color:#000000;
	font-size:20px;
	margin-left:220px;
}
.paragrafo3{
	font-family:georgia;
	color:#000000;
	size:50px;
	margin-left:290px;
}